
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #d9d9d9;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clothes{
    background: white;
    width: 220px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    border: 2px;
}

.card-image{
    background-color: white;
    width: auto;

    height: 240px;  
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    overflow:  auto;
}

.card-image img{
    width: 100%;
    height: auto;
}


.clothes h2{
    // padding: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.clothes p{
    
    padding: 2px 4px;
    text-align: center;
    margin-bottom: 5px;
    
}
    
.clothes b{
    
    padding: 6px 25px;
    text-align: center;
    
    // margin-top: 40px;
    
    
}

.clothes a{
    background-color: #a2bced;
    color: #fff;
    padding: 12px;
    display: block;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    text-decoration: none;
    
}

.clothes:hover{
    background-color: #000;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}