<div class="container">
    
    <div class="clothes">
      <div class="card-image">
        <img src="https://cf.shopee.vn/file/bf4bf79dc5a8c0d4bad201bdfcf8dfe9">
      </div>
        <h2>Thời trang Nam</h2>
        <p>Chất liệu vải phông cao cấp, chất vải mềm mịn</p>
        <b>249.000đ</b>
        <b>6.7k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>
   
    <div class="clothes">
      <div class="card-image ">
        <img src="https://cf.shopee.vn/file/8c3a386cba20d1ae9b359f9c9d631e2e">
      </div>
        <h2>Thời trang Nam</h2>
        <p>Form áo rộng thoải mái và dày dặn, chất vải mát</p>
        <b>249.000đ</b>
        <b>2.9k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon" ><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>
    
    <div class="clothes">
      <div class="card-image ">
        <img src="	https://salt.tikicdn.com/cache/550x550/ts/product/89/85/eb/1b49d449af1319640c145a8d932fa741.jpg">
      </div>
        <h2>Thời trang Nam</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam   </p>
        <b>249.000đ</b>
        <b>3.4k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://vn-live-01.slatic.net/p/7c0ad59cb5b08a84b0049acf8409779c.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam   </p>
        <b>199.000đ</b>
        <b>9.8k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://sg-live-01.slatic.net/p/1a301e55d45c3a580299e76e877a5723.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam  </p>
        <b>199.000đ</b>
        <b>2.4k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="	https://sg-live-01.slatic.net/p/7ba1f153e98e6dbba77d4ef57ea519c7.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam   </p>
        <b>199.000đ</b>
        <b>12.3k</b>
        <div class="conHang-cart">
<a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="	https://salt.tikicdn.com/cache/280x280/ts/product/55/be/87/daa5427b724c84e38eec00895650efc8.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam  </p>
        <b>199.000đ</b>
        <b>5.6k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://vn-live-01.slatic.net/p/2bb7673e65ebaf0e2f997c109097bb53.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>2.5k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="	https://cf.shopee.vn/file/290cc75b8887b5924c77312125a576b3">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>1.3k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://vn-live-01.slatic.net/p/b24e4473b84e1322bcabc8f4b3399de6.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>1.2k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="	https://salt.tikicdn.com/ts/product/1e/f9/de/aed4300af57dd51f2229e91b119e70c7.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>7.9k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://salt.tikicdn.com/ts/product/43/b1/15/2a59346553d003d3de8cc12f64c02709.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>2.1k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://cf.shopee.vn/file/35f67666a834f4624bfb8f48b0bbadfc_tn">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>2.1k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://vn-live-01.slatic.net/p/1254c3bbaa42fdac3249c106e50c86ae.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>2.1k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/30/85/5d/f987794bdfa40575478c9f83b01c8287.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>2.1k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/30/85/5d/f987794bdfa40575478c9f83b01c8287.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>2.1k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://sg-live-01.slatic.net/p/ba43d2da3a730c73fcd29bc15ff51ac3.jpg">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>2.1k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

    <div class="clothes">
      <div class="card-image ">
        <img src="https://cf.shopee.vn/file/07f4dfa7157998588b51ca710dc5dfba_tn">
      </div>
        <h2>Áo Unisex</h2>
        <p>Chất liệu vải phông cao cấp, phù hợp với mọi Nam</p>
        <b>199.000đ</b>
        <b>2.1k</b>
        <div class="conHang-cart">
          <a mat-button>Còn hàng</a>
          <button class="btn-icon"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>

  </div>
